/*===== LAYOUT SECTIONS =====*/
.controls-section{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.track-tabs-section{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.note-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 1px solid black;
}

/*===== ELEMENTS =====*/
.control-btn{
    border: 1px solid black;

    width: 50px;
    height: 30px;

    text-align: center;
}

.track-tab{
    border: 1px solid black;

    width: 80px;
    height: 30px;

    text-align: center;
}

.note-block{
    border: 1px solid black;

    width: 40px;
    height: 60px;
    background-color: grey;
}

.active-nb{
    background-color: red;
}

.triggered-nb{
    background-color: green;
}